@import "../variables";

.planCard {
    border: 1px solid #fff;
    width: 400px;
    color: #000;

    border: 1px solid green;

    &__title {
        background-color: $primaryColor;
        color: $backgroundColor;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1rem;

        &__heading {
            color: $textColor;
            text-transform: uppercase;
            border-bottom: 1px solid $textColor;
            padding-bottom: 1em;
            max-width: 80%;
            width: 80%;
            text-align: center;
        }

        &__summary {
            padding: 0;
            margin: 0;
        }

        &__price {
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
            &::first-letter {
                font-size: 1.5rem;
            }
        }

        & a {
            background: orange;
            padding: 10px 20px;

            color: #000;
            font-weight: 700;
            text-decoration: none;

            display: inline-block;
            transform: translateY(35px);
        }

    }

    &__features {
        padding: 1rem;
        background-color: rgb(241, 255, 241);
        padding-top: 40px;

        .features__heading {
            text-align: center;
            text-transform: uppercase;
            font-size: 80%;
        }

        .list__item {
            margin: 10px 0;
            list-style: none;
        }
    }
}