@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$fontStack: "Raleway", sans-serif;
$fontSize: 1rem;

$backgroundColor: #fff;
$textColor: #000;

$primaryColor: rgb(118, 145, 219);
$secondaryColor: #fff;