@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$fontStack: "Raleway", sans-serif;
$fontSize: 1rem;

$backgroundColor: #fff;
$textColor: #fff;

$primaryColor: rgb(60, 150, 82);
$secondaryColor: #fff;